.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: .5rem;
  align-items: flex-start;
}

.column {
  border-radius: .2rem;
  padding: .5rem;
  background-color: lightgrey;
}
