.container {
  border-radius: .2rem;
  background-color: var(--main-container-color);
  padding: .75rem;
}

.title {
  margin: 0px;
  margin-bottom: 10px;
  color: #17394d;
  font-weight: 700;
  font-size: 1.5rem;
}

.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: 10px;
  display: flex;
}

.lastCol {
  margin-left: auto;
}
