.container {
  display: grid;

  grid-template-areas:
    "header"
    "content"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

.header {
  grid-area: header;
  color: #fff;
  background-color: #2196f3;
  padding: 0rem 1.5rem;
  font-size: 0.75rem;
}

.main {
  grid-area: content;
  padding: 1rem 1.5rem;
  background-color: #fafafa;
}

.footer {
  grid-area: footer;
  background-color: var(--main-container-color);
  padding: 1rem 1.5rem;
}
